@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
html {
  background-color: #ebebeb;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;

  font-size: 12px;
}

