.image-container {
  position: relative;
  overflow: hidden;
  background-color: rgb(149, 186, 136);
  width: 500px;
  height: 400px;
}

.placeholder {
  position: relative;
  width: 100%;
  filter: blur(10px);
  transform: scale(1);
}


.picture {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s;
}


.picture.loaded {
  opacity: 1;

}
