
.images {
    height: 400px;
    width: 400px;
    object-fit: cover;
    display: none;
    border: none;
    opacity: 0;
}
.placeholder {
    background-color: orange;
}
.container {
    /* height: 100vh; */
    width: 100vw;
    background-color: orange;
}
/* 
Remember, position absolute will be positioned relative to its next parent 
Have overflow hidden so that elements that are outside of the scope of the div's size
will be hidden. Adding a much cooler effect to the animation.
*/
.image-wrapper {
    position: absolute;
    overflow: hidden;
}
.btn-images {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.carousel-image-btn {
    margin-left: 30px;
    margin-top: 100px;
}

.btn-image-wrapper {
    margin-bottom: 20px;
    /* border: 1px solid black; */
    /* display: inline-block; */
}

body {
    display: flex;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 100px;

}

/* Need to make this position absolute so it can freely move around viewport */
.moving-border {
    /* position: relative; */
    height: 50px;
    width: 100px;
    border: .5px solid black;
    box-sizing: border-box;
}


.images.picture {
    opacity: 1;
    animation-delay: 1s;
  }
  
  .section2 {
    height: 100vh;
  }