
.images {
    height: 400px;
    width: 400px;
    object-fit: cover;
    visibility: hidden;
}

/* 
Remember, position absolute will be positioned relative to its next parent 
Have overflow hidden so that elements that are outside of the scope of the div's size
will be hidden. Adding a much cooler effect to the animation.
*/
.image-wrapper {
    position: absolute;
    overflow: hidden;
}
.btn-images {
    height: 40px;
    width: 40px;
    object-fit: cover;
    padding: 3px;
}

.carousel-image-btn {
    margin-left: 30px;
    margin-top: 100px;
}

.btn-image-wrapper {
    margin-bottom: 20px;
}

body {
    display: flex;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 100px;
}

/* Need to make this position absolute so it can freely move around viewport */
.moving-border {
    position: absolute;
    height: 50px;
    width: 75px;
    border: 1px solid black
}