html {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 300vh;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(60, 62, 63);
  color: white;
  font-size: 48px;
  font-weight: bold;
  overflow-x: none;
}

.list-container {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.list-items {
  cursor: pointer;
}
.list-items:hover {
  color: rgb(248, 197, 43);
}

#underline {
  border-bottom: 0.5px solid white;
  width: 100vw;
}

#intro {
  opacity: 0;
  text-align: center;
}

.intro-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.intro-text {
  font-size: 16px;
  opacity: 0;
  width: 70%;
  text-align: left;
  justify-self: end;
}
.box {
  width: 300px;
  height: 400px;
  background-color: rgb(173, 246, 203);
  opacity: 0;
  margin-top: 100px;
  transition-duration: 1s;
  grid-row-end: span 2;
}

.box:hover {
  background-color: rgb(246, 173, 212);
  transition-duration: 1s;
}


h2 {
  color: rgb(60, 62, 63);
  font-weight: bold;
}
.project-names {
    width: 80%;
}

.underline-project {
  border-bottom: 0.5px solid rgb(60, 62, 63);
}

#logo2 {
    display: none;
    cursor: pointer;
}
.projects-container {
    width: 90%;
    height: 100vh;
}
.project-inner {
    width: 70%;
    transform: translateX(-10px);
    display: none;
    margin-left:50px;
    margin-bottom: 30px;
    /* opacity: 0; */
    overflow: hidden;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
}
.icon {
    color: rgb(60, 62, 63);
}
.title {
    color: rgb(60, 62, 63);
    margin: 0;
}
.project-description {
    font-size: 16px;
    color: rgb(60, 62, 63);
    width: 500px;
}
.project-content {
    width: 300px;
    height: 500px;
    background-color: aqua;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}
